*{
    box-sizing: border-box;
}
h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #612406;
}
body{
    margin: 0;
}
/* navbar css*/
nav ul li {
    display: inline-block;
    background-color: #F3DF85;
    border-radius: 10em;
    padding: 1em;
    margin-inline: 2px;
}
.shop a{
    display: flex;
}
nav ul li a{
    text-decoration: none;
    align-items: center;
    color: #612406;
    gap: 1em;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1em;
    width: 100%;
    margin-inline: auto;
    background-color: #FBF7E3;
    padding: 2em 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin-top: 0;
}
nav ul li a img{
    max-width: 1.8em;
}
.shop{
    font-weight: bold;
    font-size: 1.8em;
    text-transform: uppercase;
}
/* Product Card css */
.productCard {
    background-color: #FBF7E3;
    border-radius: 3em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #612406;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
    width: 25;
}
.productCard img {
width: 100%;
}
button{
    border: none;
    padding: 1em;
    background-color: #F3DF85;
    border-radius: 10em;
}
.description{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
    margin-inline: 20px;
}
.price{
    font-size: 1.5em;
}

/* article css */
article{
    display: flex;
    background-color: #FBF7E3;
    border-radius: 2em;
    padding: 1em;
    gap: 1em;
    align-items: flex-start;
    text-overflow: hidden;
}
article img{
    max-width: 50%;
    max-height: max-content;
}
article div h2{
    margin-top: 0;
}
@media screen and (max-width: 576px) {
    article {
        flex-direction: column-reverse;
    }
    article img {
        width: 100%;
        max-width: 100%;
    }
    header nav ul {
        width: 100%;
    }
}
/* generale */
.container{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
main{
    margin: 1em;
}
@media screen and (min-width: 577px) {
    header nav ul{
        flex-direction: column;
        width: 100%;
        min-width: unset;
        justify-content: flex-start;
        height: 100%;
    }
    header nav ul li{
        margin: 0.5em 1em;
        width: 70%;
        height: 70px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .shop{
        order: -1;
    }
    body{
        display: flex;
        position: relative;
    }
    
    nav{
        height: 100%;
        position: fixed;
    }
main{
    margin-left: 221.922px;
    padding-left: 1em;
}
}
